body{
    background-color: black;
    padding-top: 59px;
    margin: 0;
}


.pastel{
    background-color: rgb(236, 236, 236);
}

.logo{
    width: 150px;
}

.logoLogin{
    width: 300px;
}

.logoFooter{
    width: 130px
}

.color-de-icono{
    color: whitesmoke;
}

.color-de-icono :hover{
    color: #5f9ea0;
}

.texto-azul{
    color: #5f9ea0;
    text-decoration: underline;
}

.texto-azul:hover{
    text-decoration: none;
    cursor: pointer;
}

.lista{
    color: whitesmoke;
    list-style: none;
    padding: 0;
}

.navbar-transparente{
    background-image: linear-gradient(to top,rgba(20,20,20,0) 0%,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 48%,#000000 91%,#000000 15%);
    background-color: transparent;
    transition: background-color 2s;
}

@media (prefers-reduced-motion: no-preference) {
    .navbar-scroll-abajo{
        transition: 2000ms;
        background-image: linear-gradient(to top, rgba(20, 20, 20, 0) 10%, rgba(20, 20, 20, 0.15) 0%, rgba(20, 20, 20, 0.35) 12%, rgba(20, 20, 20, 0.58) 15%, rgb(0, 0, 0) 39%, rgb(0, 0, 0) 15%);
        background-color: transparent;
    }
  }


@media all and (max-width:576px){
    .slider-responsive{
        object-fit: cover;
        height: 187px;
    }
}

.tituloCategorias{
    margin: 10px 0 5px 45px;
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
}



.error404{
    font-size: 20ex;
    margin: 100px 0;
}

@media all and (max-width: 992px){
    .error404{
        font-size: 10ex;
    }
}
@media all and (max-width: 410px){
    .error404{
        font-size: 5ex;
    }
    .mediaLetra{
        font-size: 18px;
    }
}

/* login */
.seccionClara{
    padding: 35px;
    margin: 50px auto 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.seccionClara h4{
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.seccionClara button{
    width: 100%;
    margin: 10px 0;
    background-color: #5f9ea0;
    color: whitesmoke;
}

.login-text{
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    margin-bottom: 0;
}

.login-text a:hover{
    text-decoration: none;
}

.login-input{
    width: 100%;
    padding: 6px;
    margin: 10px 0;
}

@media all and (max-width:450px){
    .seccionClara{
        width: auto;
        margin: 100px 25px;
    }
}

/* pagina detalle */

.contenedorDetalleImg{
    background-color: #181818;
    border:  #181818;
    border-radius: 4px;
}

.imagenDetalle{
    object-fit: cover;
    width: 100%;
}

.contenedorDetalle2{
    padding: 5px 40px 40px 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedorDetalle2 h2{
    font-size: 50px;
    text-align: center;
}

.descripcionDetalle{
    font-size: 1.1em;
}



.datosDetalle {
    font-size: 0.9em;
}

.textoDatosDetalle{
    color: #777;
}


.trailer{
    width: 100%;
    height: 200px;
    margin: 10px 0px;
}

@media all and (max-width: 992px){
    .tituloDetalle {
        font-size: 3em;
    }

}
@media all and (max-width:360px){
    .tituloDetalle {
        font-size: 1.5em;
    }
    .descripcionDetalle{
        font-size: 0.5em;
    }
}

@media all and (max-width:500px){
    .contenedorDetalleImg{
        margin: 25px 10px;
    }
}


@media all and (min-width:800px){
    .trailer{
        height: 800px;
    }
}

@media all and (max-width:550px){
    .trailer{
        height: 300px;
    }
}

@media all and (max-width:360px){
    .trailer{
        height: 140px;
    }
}

@media all and (max-width: 1000px){
    .descripcionDetalle{
        font-size: 18px;
    }
    .datosDetalle {
        font-size: 0.9em;
    }
}

/* equipo */

.equipoSeccion{
    margin: 30px 0;
    padding: 0 0;
    text-align: center;
}

.equipoImg{
    width: 250px;
    border-radius: 4px;
    border: solid ;
}

.texto-claro{
    color: whitesmoke;
}


/* admin */

.seccionAdmin{
    background-color: whitesmoke;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.btnRedondo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0px;
}

.derecha{
    text-align: right;
}

.bPaddEdit{
    padding: 4px 6px 4px 9px;
    margin: 0px 3px 10px 3px;
}

.bPaddTrash{
    padding: 4px 9px;
    margin: 0px 3px 10px 3px;
}

.textOscuro{
    color: black;
}



textarea {
    resize: none;
}

/* cortado y centrado de imagen destacada */
.contenedor{
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.img-cortada-centrada {
    object-fit: cover;
    width: 100%;
    height: 500px;
    filter: brightness(35%);
}

.caja-sombra {
    display: block;
    background-image: linear-gradient(to bottom,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#000000 68%,#000000 100%);
    background-size: 100% 100%;
    background-position: 0 top;
    background-repeat: repeat-x;
    background-color: transparent;
    width: 100%;
    height: 14.7vw;
    top: auto;
    bottom: -1px;
    opacity: 1;
    z-index: 8;
    position: absolute;
    left: 0;
    right: 0;
}



.noTanOsc {
    background-image: linear-gradient(to bottom,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 14%,rgba(20,20,20,.35) 27%,rgba(20,20,20,.58) 44%,#181818 68%,#181818 100%);
}

.texto-centrado {
    position: absolute;
    top: 75%;
    left: 20%;
    transform: translate(-48%, -16%);
    width: 400px;
    z-index: 20;
}

.texto-centrado h2 {
    font-size: 30px;
}
.texto-centrado p {
    font-size: 20px;
}

.btnCerrar{
    position: absolute;
    top: 4%;
    left: 95%;
    transform: translate(-48%, -16%);
    z-index: 20;
}

.botonesCabecera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.botonesCabecera button {
    margin-right: 10px;
}

@media all and (max-width: 768px){
    .img-cortada-centrada{
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
    
    .texto-centrado {
        position: absolute;
        top: 80%;
        left: 22%;
        transform: translate(-48%, -50%);
    }
    .texto-centrado h2 {
        font-size: 20px;
    }
    .texto-centrado p {
        font-size: 15px;
    }
    .botonesCabecera{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .botonesCabecera button {
        margin-top: 10px;
        
    }
}

@media all and (max-width: 400px){
    .img-cortada-centrada{
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
    .texto-centrado {
        position: absolute;
        top: 80%;
        left: 26%;
        transform: translate(-48%, -50%);
    }
    .texto-centrado h2 {
        font-size: 15px;
    }
    .texto-centrado p {
        font-size: 10px;
    }
    .botonesCabecera button {
        font-size: 11px;
    }
}


.btn-color-azul {
    color:whitesmoke;
    background-color:#5f9ea0bb;
}
.btn-color-azul:hover{
    color:whitesmoke;
    background-color:#5f9ea04d;
}

.btn-color-blanco {
    color:rgb(0, 0, 0);
    background-color:rgba(245, 245, 245, 0.938);
}
.btn-color-blanco:hover{
    color:rgb(0, 0, 0);
    background-color:rgba(245, 245, 245, 0.425);
}


@media all and (min-width: 550px){
    .contIframe {
        height: 450px;
    }
}

.my-6{
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.scroll{
    display: -webkit-inline-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 260px;
    margin-bottom: 20px;
    width: 91%;
    -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar {
    width: 3px;
}
.scroll::-webkit-scrollbar-track {
    background: transparent;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #5f9ea0bb;
    ;
    border-radius: 20px;
    border: 5px solid transparent;
}

@media all and (max-width: 768px){
    .scroll::-webkit-scrollbar {
        display: none;
    }
}

.imgIndex{
    border: none;
    width: 98%;
    height: 190px;
}

.imgSeries{
   margin: 0;
   padding: 0;
   transition: 250ms all;

}
.imgSeries:hover{
    transform: scale(1.2);
    z-index: 80;
}


.btn-izquierda {
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
   }
   .btn-derecha {
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 33px 0 11px;
   }

   .peli{
       display: flex;
       align-items: center;
       height: 195px;
       width: 340px;
       margin: 20px 20px 0 0;
   }

   .btn-flecha{
    color: #fff;
    text-decoration: none;
    border: none;
    font-size: 6em;
    background: transparent;
    width: 40px;
    height: 196px;
    text-align: center;
    z-index: 1;
   }

   @media all and (max-width:768px){
    .btn-flecha{
        display: none;
    }
   }