.pastel{
    background-color: rgb(236, 236, 236);
}

.logo{
    width: 150px;
}

.logoFooter{
    width: 130px
}

.color-de-icono{
    color: whitesmoke;
}

.lista{
    color: whitesmoke;
    list-style: none;
    padding: 0;
}


@media all and (max-width:576px){
    .slider-responsive{
        object-fit: cover;
        height: 187px;
    }
}

body{
    background-color: black;
    color: whitesmoke;
}

.tituloCategorias{
    margin: 10px 0 20px 40px;
}

.imgSeries{
    width: 100%;
   margin: 0;
   padding: 10px;
    

}
